{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        body{
            background-image: none;
        }
    </style>
    <table class="table-main my-3">
        <td></td>
        <td class="td-main text-center container">
            <div class="row d-flex w-100">
                <div class="col-8" style="padding-right:20px; border-right: 1px solid #ccc;">
                    <h5>Welcome to Nostos</h5>
                    <hr class="h-divider">
                    <p>
                        Hello, Nostos is a place where you can easily manage your various interests and hobbies. This web application provides you with different lists for things like reading, playing games, watching movies and even your tasks, all provided in a single convenient place without the hassle of maintaining each of these lists separately.
                    </p>
                    <p>
                        You might have even run into situations where you would have had to maintain even a single list in multiple places because of different platforms such as for games or movies. With Nostos you can maintain all of them in a single place.
                    </p>
                    <p>
                        Please login or register to gain access to Nostos. 
                    </p>
                </div>
                <div class="col">
                    <form class="center_div " id="register" action="/login" method="post">
                        <div class="form-group">
                            <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                        </div>
                        <div class="form-group">
                            <input id="password" class="form-control" name="password" placeholder="Password" type="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
                
            </div>
          
        <td></td>
    </table>

    {% if error %}
    <!-- Modal -->
    <style>
        .success{
            background-color: rgba(65, 110, 59, 0.9);
            color: #e2f6ff;
        }
    </style>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalodalCenterTitle" aria-hidden="true">
        
        <div class="modal-dialog modal-dialog-centered" role="document">
            
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">
                Error!
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{error}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

        </div>
    </div>

    <script>
        window.onload = function() {
            $("#modal").modal("show");
        };
    </script>
    {% endif %}
    
{% endblock %}