{% extends "activity.html" %}

{% set active_page = "study" %}

{% block title %}
Ergon
{% endblock %}

{% block heading %}
    Nostos: Ergon &mdash; Tasks
{% endblock %}

{% block text %}

    <h6>Nostos Ergon is where you can manage all of your tasks which you wish to perform and complete.</h6>
                
    <p>
        The features herein allow you to add new items, along with your own custom descriptions for each item as well as reference links; delete items from your list which you no longer wish to play or maintain a record of; and also mark items as done after you have played them.
    </p>

    <p>
        <u>Add:</u><br>
        In order to add a new item to your list, you can click on the button on the right side of the page which will then prompt you to input information for that item. Note that you will not be able to edit the details for an item after it is added.
    </p>

    <p>
        <u>Manage:</u><br>
        There are two functionalities that allow you to manage each item in your list: 'Done' and 'Delete'. You can delete any item from your list by simple pressing the corresponding 'Delete' button. You can also toggle whether an item is done by clicking on the corresponding 'Done' button for each item.
    </p>

{% endblock %}


